@import "./animations.scss";

@media only screen and (min-width: 992px) {
  body div.waves {
    margin-bottom: 0;
    height: 20%;
    svg {
      transform: scaleX(-2);
      height: 37vh;
      margin-top: -5rem;
    }

    z-index: -1;
  }

  .container {
    // margin-top: -10rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .container #about {
    margin-top: -2rem;
  }

  .profile {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    &_pic {
      //   margin-right: 3rem;
    }
  }

  .about_text {
    width: 45%;
    // padding: 0 20rem;
  }

  #about .arrow {
    margin-top: 1rem;
    padding: 0 0 2rem 0;
  }

  #links .heading-secondary {
    margin-bottom: 5rem;
  }

  .container .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;

    &_icon {
      &:hover {
        cursor: pointer;
        transform: translateY(-50px);
      }

      transition: all 2s;
    }

    &_github {
      margin-left: -2rem;
    }
  }
}
