body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div.waves {
  width: 100%;
  bottom: 0;
  z-index: 99;
  overflow: hidden;

  .wave {
    width: 100%;
    display: block;
  }

  margin-bottom: 2rem;
}

#about {
  display: flex;
  height: 80vh;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.profile {
  &_pic {
    height: 17rem;
  }
}

.heading-primary {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #444444;
  padding: 1rem 0;
  // margin-bottom: 2rem;
}

.about_text > p {
  padding: 0 3.5rem;
  color: #444444;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: #444444;
}

.arrow {
  padding: 1rem 0;
  font-size: 2rem;
}

.icons {
  &_linkedin {
    height: 8rem;
  }

  &_github {
    height: 6rem;
  }

  &_email {
    font-size: 6rem;
  }
}

// second part
#links {
  margin-top: 2rem;
  height: 100vh;
}

// Media queries
@media only screen and (max-width: 374px) {
  #about {
    margin-bottom: 10rem;
  }

  .profile_pic {
    height: 12rem;
    margin-top: 3rem;
  }

  .heading-primary {
    font-size: 1.5rem;
  }

  .about_text > p {
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 375px) {
  #about {
    margin-bottom: 10rem;
  }

  .about_text > p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-device-width: 768px) {
}
