@import "./desktop.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div.waves {
  width: 100%;
  bottom: 0;
  z-index: 99;
  overflow: hidden;
  margin-bottom: 1rem;

  .wave {
    width: 100%;
    display: block;
  }
}

#about {
  display: flex;
  height: 80vh;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile {
  &_pic {
    height: 17rem;
  }
}

.heading-primary {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #444444;
  padding: 1rem 0;
  // margin-bottom: 2rem;
}

.about_text > p {
  padding: 0 3.5rem;
  color: #444444;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #444444;
}

.arrow {
  padding: 1rem 0;
  font-size: 2rem;
}

// second part
#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.heading-secondary {
  text-transform: uppercase;
  color: #444444;
}

.icons {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-around;

  &_linkedin {
    height: 11rem;
  }

  &_github {
    height: 6rem;
  }

  &_email {
    font-size: 6rem;
    font-weight: 700;
    background: -webkit-linear-gradient(308deg, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// footer
.footer {
  text-align: center;
  margin: 2rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

// Media queries
@media only screen and (max-width: 374px) {
  #about {
    margin-bottom: 10rem;
  }

  .profile_pic {
    height: 10rem;
  }

  .heading-primary {
    font-size: 1.5rem;
  }

  .about_text > p {
    font-size: 0.8rem;
    padding-top: 1rem;
    // padding-bottom: 0.5rem;
  }

  #about > .arrow {
    font-size: 1.5rem;
  }

  // links
  .heading-secondary {
    font-size: 1.2rem;
  }

  .icons {
    &_linkedin {
      height: 8rem;
    }

    &_github {
      height: 5rem;
    }

    &_email {
      font-size: 5rem;
    }
  }

  .footer {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 375px) and (max-height: 740px) {
  .profile {
    &_pic {
      height: 12rem;
    }
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 375px) {
  #about {
    margin-bottom: 5rem;
  }

  .about_text > p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .arrow {
    padding: 0.5rem 0;
  }
}

@media only screen and (min-width: 767px) {
  #about .about_text {
    & > p {
      font-size: 1.2rem;
    }
  }

  .arrow {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}
